<!-- About Hackathon Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        
            <h3>{{ site.aboutHackathonTitle }}</h3>
            {% for row in site.hackathonRows %}
            {% assign check = forloop.index0 | modulo:2%}
                
                <div data-animation="{% if check == 0 %}fadeInRight{% else %}fadeInLeft{% endif %}" data-delay="0">
                    <h4>{{ row.title }}</h4>
                    <p>{{ row.details }}</p>
                </div>
            {% endfor %}
       
    </div>
</section>
<!-- End About Hackathon Section -->
